body {
    font-family: sans-serif;
}

header {
    background-color:  rgb(1, 130, 205);
    flex-flow: row wrap;
    display: flex;
    align-items:flex-start;
}

img{
    width: 300px;
    height: 300px;
}

.address {
    padding: 50px;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    width: 15%;
    padding: 10px;
}

th{
    background-color: rgb(1, 130, 205);
    color: white;
}

tbody tr:nth-child(even){
    background-color: rgb(198, 198, 198);;
}